@model Employee

@{
    ViewData["Title"] = "Create";
}

<h1>新增员工</h1>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)

    </div>

    <div>
        <input type="submit" value="保存" />
    </div>
}

