<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="CrystalQuartz.Remote" version="6.8.1" targetFramework="net40" />
  <package id="NVelocity" version="1.1.1" targetFramework="net40" />
  <package id="Quartz" version="2.2.4" targetFramework="net40" />
</packages>