@model RegisterViewModel

@{
    ViewBag.Title = "注册用户";
}
<h1>注册用户</h1>
<form asp-action="Signup" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Username">用 户 名</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password">密 &nbsp;&nbsp;&nbsp;&nbsp;码</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword">确认密码</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="submit" value="注册" />
    </div>
</form>
