<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    <add key="quartz_scheduler_instanceName" value="传8任务调度监控系统"/>
    <!--设置线程池 -->
    <add key="quartz_threadPool_type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz_threadPool_threadCount" value="5"/>
    <add key="quartz_threadPool_threadPriority" value="Normal"/>

    <!-- 远程输出配置 -->
    <add key="quartz_scheduler_exporter_type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz"/>
    <add key="quartz_scheduler_exporter_port" value="8008"/>
    <add key="quartz_scheduler_exporter_bindName" value="QuartzScheduler"/>
    <add key="quartz_scheduler_exporter_channelType" value="tcp"/>
  </appSettings>
</configuration>
