<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LocalDBConnectStr"  connectionString="Data Source={0};Version=3;"/>
  </connectionStrings>

  <appSettings>
    <add key="SQLitePath" value="D:\DataBase\Transfer8.db"/>
    <!--<add key="EncryptKey" value="08491090B30349FB89C543A477946459"/>-->
    <add key="NormalFilePath" value="NormalDataFile"/>
    <add key="CompressFilePath" value="CompressDataFile"/>
    <add key="UploadFileBackpath" value="UploadFileBackup"/>
    <add key="AutoJobCronExpression" value="0/30 * * * * ?"/>
    <add key="AutoFtpJobCronExpression" value="0/30 * * * * ?"/>
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory,System.Data.SQLite, Version=1.0.109.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"    />
    </DbProviderFactories>
  </system.data>
</configuration>