@using System.Security.Claims

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>
        body {
            margin: 10px auto;
            text-align: center
        }

        table {
            margin: 0 auto;
            width: 90%
        }

        table, th, td {
            border: 1px solid #eee;
            border-collapse: collapse;
            border-spacing: 0;
            padding: 5px;
            text-align: center
        }

        .txt-left {
            text-align: left;
        }
    </style>
</head>
<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div>@User.Identity.Name</div>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" value="登出" />
            </form>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">登录</a>
            <a asp-controller="Account" asp-action="Signup">注册</a>
        }
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
